.navbar {
    display : flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.nav-link{
    color: red;
    text-decoration: none;
    padding: 8px 12px;
}

.nav-link.active{
    color: white;
    text-decoration: none;
    background-color: aqua;
    border-radius: 10%;
    font-weight: bold;
}